.tl-btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}

.tl-btn a{
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    box-sizing: border-box;
    color: #1DB954;
    text-decoration: none;
}

.tl-btn-author a{
    color: #444;
}

.tl-btn-category a{
    color: #39bdb1;
    font-size: 14px;
    text-transform: uppercase;
}