.Cat a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.Author a{
    color: #444;
    font-size: 12px;
    font-weight: 600;
}

.tl-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}

.tl-button a{
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    box-sizing: border-box;
    color: #1DB954;
    text-decoration: none;
}