.Category-info::before{
    background: url(/static/img/default-banner-bg.png) repeat-x;
    background-size: 20px 450px;
    content: "";
    height: 370px;
    left: 0;
    position: absolute;
    width: 100%;
}

.Category-info{
    height: 370px;
}

.Category-info>*{
    margin: 0 auto;
}