.StartBar{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 3px 32px;
    width: 100%;
}

.StartBar-text{
    color: #1a1a1a;
    font-size: 14px;
    line-height: 22px;
    margin: 0 16px;
    font-weight: 600;
    font-synthesis: style;
}

.StartBar-line{
    background: #d3d3d3;
    display: none;
    flex-grow: 1;
    height: 1px;
}