.StartBar{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 3px 32px;
    width: 98%;
    height: 24px;
    padding: 0px 10px;
}

.StartBar-text{
    color: #1a1a1a;
    font-size: 14px;
    line-height: 22px;
    margin: 0 16px;
    font-weight: 600;
}

.StartBar-line{
    background: #d3d3d3;
    flex-grow: 1;
    height: 1px;
}

@media (max-width:800px){
    .StartBar-line{
        display: none;
    }
}